---
import { ilustraciones } from '../data/portfolio.js'
---

<section id="galeria" class="gallery-section">
    <div class="masonry-wall">
    {ilustraciones.map((obra) => (
        <div class="brick">
            <a 
                href={obra.fullRes}
                data-pswp-width={obra.fullResWidth}
                data-pswp-height={obra.fullResHeight}
                target="_blank"
            >
                    <img
                        src={obra.src}
                        alt={obra.alt}
                        width={obra.width}
                        heigth={obra.height}
                        loading="lazy"
                    />
            </a>
        </div>
    ))}
    </div>
</section>

<style>
    .gallery-section {
        padding: 2rem;
    }

    .masonry-wall {
        column-count: 1;
        column-gap: 1.5rem;
    }

    @media (min-width: 768px) {
        .masonry-wall {
            column-count: 3;
        }
    }

    .brick {
        margin-bottom: 1.5rem;
        break-inside: avoid;
    }

    .brick img {
        width: 100%;
        height: auto;
        display: block;
        
    }

</style>

<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    import 'photoswipe/style.css';

    const lightbox = new PhotoSwipeLightbox ({
        gallery: '.masonry-wall',
        children: 'a',
        pswpModule: () => import ('photoswipe')
    });

    lightbox.init();

</script>