---
import { Image } from 'astro:assets';
import { sketches } from '../data/sketchbook.js'
---

<section id="sketch-gallery" class="sketch-gallery">
    <h2 class="section-title">Sketchbook</h2>
    <div class="sketchbook-wall">
    {sketches.map((sketch) => (
        <div class="sketch-brick">
            <a 
                href={sketch.imagen.src}
                data-pswp-width={sketch.imagen.width}
                data-pswp-height={sketch.imagen.height}
                data-pswp-caption-content={`<strong>${sketch.desc}</strong>`}
                target="_blank"
            >
                    <Image
                        src={sketch.imagen}
                        alt={sketch.alt}
                        width={600}
                        class="img-fluid"
                        
                    />
            </a>
        </div>
    ))}
    </div>
</section>

<style>
    .sketch-gallery {
        padding: 2rem;
    }

    .section-title {
        font-size: 2.5rem; 
        text-align: center;
        margin-bottom: 3rem;
        color: #333;
        position: relative;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .section-title::after {
        content: '';
        position: absolute;
        left: -10px;
        bottom: 5px; 
        width: calc(100% + 20px);
        height: 15px;
        background-color: #43876e;
        opacity: 0.4; 
        z-index: -1; 
        transform: rotate(-1deg); 
        border-radius: 20px 5px 20px 5px; 
    }


    .sketchbook-wall {
        column-count: 1;
        column-gap: 1.5rem;
    }

    @media (min-width: 768px) {
        .sketchbook-wall {
            column-count: 3;
        }
    }

    .sketch-brick {
        margin-bottom: 1.5rem;
        break-inside: avoid;
    }

    .sketch-brick img {
        width: 100%;
        height: auto;
        display: block;
        
    }

</style>

<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    import 'photoswipe/style.css';

    import PhotoSwipeDynamicCaption from 'photoswipe-dynamic-caption-plugin';
    import 'photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css';

    const lightbox = new PhotoSwipeLightbox ({
        gallery: '.sketchbook-wall',
        children: 'a',
        pswpModule: () => import ('photoswipe'),
        paddingFn: (viewportSize) => {
            return {
                top: 0, bottom: 30, left: 0, right: 0
            }
        },
    });
    
    const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
        type:'auto',
        captionContent: (slide) => {
        return slide.data.element.getAttribute('data-pswp-caption-content');
    }
    });
    
    lightbox.init();

</script>